/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
}   
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.inner {
  clip-path: circle(10% at 0% 0%);
  -webkit-clip-path: circle(10% at 0% 0%);
  /* size, left, top */
  transition: all 0.5s ease-in-out;
}
.main:hover .inner {
  clip-path: circle(75%);
  -webkit-clip-path: circle(75%);
  background-color: #fc8a06;
}

.minner {
  clip-path: circle(5%);
  -webkit-clip-path: circle(5%);
  background-color: #fc8a06;
}

.inners {
  clip-path: inset(50% 50% 50% 50%);
  -webkit-clip-path: inset(50% 50% 50% 50%);

  transition: all 0.5s ease-in-out;
}
.maino:hover .inners {
  clip-path: inset(0% 0% 0% 0%);
  -webkit-clip-path: inset(0% 0% 0% 0%);
}

/* .menu {
  clip-path: circle(0% at 16% 5%);
  -webkit-clip-path: circle(0% at 16% 5%);
}

.menu.expanded {
  clip-path: circle(150%);
  -webkit-clip-path: circle(150%);
} */

@layer base {
  html {
    --primary: 255, 189, 57;
    --secondary: 2, 134, 67;
    --text: 3, 8, 31;
    --bej: 233, 233, 233;
    --grey: 250, 250, 250;
    --faq: 250, 250, 250;
  }
  .social-link:hover svg {
    fill: #000;
  }

  .social-link:hover {
    filter: drop-shadow(0px 0px 5px rgb(var(--primary)));
  }

  .active-link svg,
  .navigation-link:hover svg {
    stroke: rgba(var(--primary));

    filter: drop-shadow(0px 0px 2px rgb(var(--primary)));
  }

  html[data-theme="dark"] {
    --header: #03081f;
    --primary: #03081f;
    --secondary: #fc8a06;
    --text: #e9e9e9;
  }
}

/* ------------------------------- Scroll Bar ------------------------------- */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(var(--primary));
}

::-webkit-scrollbar-thumb {
  background: #03081f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
