/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
}   
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --primary: 255, 189, 57;
    --secondary: 2, 134, 67;
    --text: 3, 8, 31;
    --bej: 233, 233, 233;
    --grey: 250, 250, 250;
    --faq: 250, 250, 250;
  }
  .social-link:hover svg {
    fill: #000;
  }
  .navigation-link:hover svg {
    stroke: rgba(var(--primary));
  }
  .active-link svg {
    stroke: rgba(var(--primary));
  }

  html[data-theme="dark"] {
    --header: #03081f;
    --primary: #03081f;
    --secondary: #fc8a06;
    --text: #e9e9e9;
  }
}

/* ------------------------------- Scroll Bar ------------------------------- */
/* ::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #03081f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

/* ---------------------------------- Rules --------------------------------- */
/* @layer components {
  .container {
    @apply mx-auto md:p-0 p-4 md:w-[90%];
  }
  .flex-centered {
    @apply flex items-center justify-center;
  }
} */
